pro-customerportal/src/main/mule/customer/putCustomerDetails.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<flow name="updateCustomerDetails" doc:id="9fe9b4eb-e92b-4778-b07c-6f9c312817f2" >
		<ee:transform doc:name="Customer Details to Update" doc:id="648c63ae-6590-4432-aeae-7c153c5fe74a" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="customerDetails" ><![CDATA[%dw 2.0
output application/json
---
{
	(pincode: payload.pincode) if(!isEmpty(payload.pincode)) ,
	(address: payload.address) if(!isEmpty(payload.address)),
	(phoneNumber: payload.phoneNumber) if(!isEmpty(payload.phoneNumber)),
	(cardDetails: payload.cardDetails) if(!isEmpty(payload.cardDetails))
}]]></ee:set-variable>
				<ee:set-variable variableName="VcustomerID" ><![CDATA[%dw 2.0
output application/json
---
{
	"customerId": attributes.queryParams.customerId
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<try doc:name="Try" doc:id="13a00068-2056-4201-bbed-4d1f777c32c9" >
			<http:request method="GET" doc:name="Retrieve Customer Details from sfdc" doc:id="ded5a41b-b8e8-4556-b58a-61b8610f1b10" config-ref="HTTP_Request_configuration_sys_cp_sfdc" path="customers" >
				<http:headers ><![CDATA[#[output application/java
---
{
	"client_secret" : p('secure::sfdc.client_secret'),
	"client_id" : p('secure::sfdc.client_id')
}]]]></http:headers>
				<http:query-params ><![CDATA[#[output application/java
---
{
	customerId : vars.VcustomerID.customerId
}]]]></http:query-params>
			</http:request>
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="42c17c65-dcbd-4c21-9ce1-455e1c2086f8" >
					<ee:transform doc:name="error Message" doc:id="c44796d2-c127-4856-ac44-c16dcb3ddf8d" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
error.muleMessage.payload]]></ee:set-payload>
						</ee:message>
						<ee:variables >
							<ee:set-variable variableName="httpStatus" ><![CDATA[error.muleMessage.typedAttributes.statusCode]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
				</on-error-propagate>
			</error-handler>
		</try>
		<ee:transform doc:name="obtained CustomerDetailrsesponse" doc:id="0d1b7c02-bb1b-4269-88c2-7b67b77d94f9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<try doc:name="Try" doc:id="d1bd5e54-2837-457b-b170-aeb197d2f6b2" >
			<http:request method="PUT" doc:name="Update the CustomerDetails in local database" doc:id="b3dbf223-b7d7-4d53-bf21-c10f45888925" config-ref="HTTP_Request_configuration_sys_cp_loc" path="customers/{location}">
			<http:body><![CDATA[#[vars.customerDetails]]]></http:body>
			<http:headers><![CDATA[#[output application/java
---
{
	client_secret : p('secure::loc.client_secret'),
	client_id : p('secure::loc.client_id')
}]]]></http:headers>
			<http:uri-params><![CDATA[#[output application/java
---
{
	location : payload.location
}]]]></http:uri-params>
			<http:query-params><![CDATA[#[output application/java
---
{
	customerId : vars.VcustomerID.customerId
}]]]></http:query-params>
		</http:request>
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="5532d1b7-2fae-4a7c-975b-e42d8cd876cb" >
					<ee:transform doc:name="error Message" doc:id="aa850b25-9e99-40eb-ab55-fff667def8f7" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
error.muleMessage.payload]]></ee:set-payload>
						</ee:message>
						<ee:variables >
							<ee:set-variable variableName="httpStatus" ><![CDATA[error.muleMessage.typedAttributes.statusCode]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
				</on-error-propagate>
			</error-handler>
		</try>
		<vm:publish queueName="asyncCustomerDetails" doc:name="Publish" doc:id="f5debac7-ba5e-4358-a1a1-458819a331f0" config-ref="VM_Config">
			<vm:content ><![CDATA[#[{
	(pincode: vars.customerDetails.pincode) if(!isEmpty(vars.customerDetails.pincode)) ,
	(address: vars.customerDetails.address) if(!isEmpty(vars.customerDetails.address)),
	(phoneNumber: vars.customerDetails.phoneNumber) if(!isEmpty(vars.customerDetails.phoneNumber)),
	(cardDetails: vars.customerDetails.cardDetails) if(!isEmpty(vars.customerDetails.cardDetails)),
	customerId: vars.VcustomerID.customerId
}]]]></vm:content>
		</vm:publish>
		<ee:transform doc:name="Update Response Message" doc:id="df08274c-8d45-4656-86a9-ed6ece785442" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
