pro-customerportal/src/main/mule/router.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <flow name="pro-customerportal-main" doc:id="9fa609d1-0681-49c3-97b7-de7f229b63f2">
        <http:listener doc:name="Listener" doc:id="5c602c2b-08f2-4bb2-b2c7-7b53fd0b3130" config-ref="pro-customerportal-httpListenerConfig" path="${pro_customerPortal.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router doc:name="APIkit Router" doc:id="8eff2a81-3ea8-4a02-90ce-8f12693ca28d" config-ref="pro-customerportal-config" />
        <error-handler>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="c5ea60be-c125-461b-9bcd-a3fbaab86837" type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message" doc:id="d9c8145a-fcb7-43d1-afc2-8645c6498e34">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate1" doc:id="c7c62a27-6d70-4681-9d2b-7cb3679f6072" type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message" doc:id="c11ae818-7743-467f-af38-d36ff21b0b4c">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate2" doc:id="833e6c5d-04d5-490d-9487-1439ea8ec43e" type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message" doc:id="b2aa4216-bd93-46ef-b4c8-b171abd96172">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate3" doc:id="3d83fd64-e5b8-4ed5-99c0-27b782117d85" type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message" doc:id="31ea8b12-f27e-471b-ab28-407d31a239ea">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate4" doc:id="3126c48f-7edb-4e1e-9426-808ab6fc9662" type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message" doc:id="3fd46157-28f0-4c2f-b18f-12be78e2b080">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate5" doc:id="cce3b89a-0273-483b-9dca-7d92d5de9d29" type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message" doc:id="2bae8ce0-a4d4-4d6b-ac43-e64d4b2fcbc3">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\ping:pro-customerportal-config">
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "pro-api-ping":{
  module: "${ping.apiName}",
  projectVersion: "${ping.projectVersion}",
  apiVersion: "${ping.apiVersion}",
  env: "${ping.env}",
  status: "${ping.status}",
  server: "${ping.server}",
  serviceHealth: {
        serviceType: "${ping.serviceType}",
        status: "${ping.statusMessage}",
        message: "${ping.message}"
    }
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
